/* 
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --gray: hsl(266, 3%, 45%);
  --soft-red: hsl(5, 85%, 63%);
  --dark-blue: hsl(240, 100%, 5%);
  --off-white: hsl(36, 100%, 99%);
  --soft-orange: hsl(35, 77%, 62%);
  --grayish-blue: hsl(233, 8%, 79%);
}

body {
  color: hsl(266deg, 3%, 45%);
  font-family: "Inter", sans-serif;
}

body.covered::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.button {
  padding: 1.2em 1.8em;
  display: inline-block;
  background-color: hsl(5deg, 85%, 63%);
  font-weight: 700;
  letter-spacing: 0.4em;
  color: hsl(36deg, 100%, 99%);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms ease-in;
}
.button:is(:hover, :focus, :active) {
  background-color: hsl(240deg, 100%, 5%);
}

.container {
  max-width: 80rem;
  padding: 1em;
  margin-inline: auto;
}

.header {
  padding-block: 2rem;
}
.header__items {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
.header__toggle {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0.5rem;
  right: 0;
  width: 2.4rem;
  aspect-ratio: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/icon-menu.svg");
}
.header__toggle[data-opened=true] {
  background-image: url("/images/icon-menu-close.svg");
}
.header__navigation ul {
  display: flex;
  gap: 2.5rem;
}
.header__navigation a {
  text-decoration: none;
  color: hsl(266deg, 3%, 45%);
}
.header__navigation a:hover {
  color: hsl(5deg, 85%, 63%);
}
@media (max-width: 45em) {
  .header__navigation {
    position: fixed;
    inset: 0 0 0 50%;
    z-index: 1;
    padding: min(20vh, 10rem) 2rem;
    background: hsl(36deg, 100%, 99%);
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  .header__navigation ul {
    flex-direction: column;
  }
  .header__navigation a {
    font-size: 1.2rem;
    text-decoration: none;
    color: hsl(240deg, 100%, 5%);
  }
  .header__navigation[data-visible=true] {
    transform: translateX(0%);
  }
}
@media (min-width: 45em) {
  .header__navigation {
    display: block;
  }
  .header__toggle {
    display: none;
  }
}

.news__columns {
  display: grid;
  gap: 3.5rem;
  margin-bottom: 3.5rem;
}
.news__secondary-articles {
  display: grid;
  gap: 2rem;
  counter-reset: articles;
}
@media (min-width: 45em) {
  .news__secondary-articles {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 60em) {
  .news__secondary-articles {
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .news__columns {
    grid-template-columns: 1fr 0.5fr;
  }
}

.main-article__image {
  display: block;
  margin-bottom: 1.5rem;
}
.main-article__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-article__content-columns {
  display: grid;
}
.main-article__title {
  line-height: 1.2;
  font-weight: 800;
  font-size: clamp(2.5rem, 10vw, 3.5rem);
  color: hsl(240deg, 100%, 5%);
  margin-bottom: 1.5rem;
}
.main-article__text {
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
@media (min-width: 60em) {
  .main-article__title {
    margin-bottom: 0;
  }
  .main-article__content-columns {
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.news-aside {
  padding: 1.5em 1rem;
  background-color: hsl(240deg, 100%, 5%);
}
.news-aside__title {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(35deg, 77%, 62%);
  margin-bottom: 2rem;
}
.news-aside__snippets {
  display: grid;
  gap: 2rem;
}

.snippet__title {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.snippet__title a {
  text-decoration: none;
  color: hsl(36deg, 100%, 99%);
}
.snippet__title a:hover {
  color: hsl(35deg, 77%, 62%);
}
.snippet__text {
  line-height: 1.6;
  color: hsl(233deg, 8%, 79%);
}
.snippet:not(:last-child)::after {
  display: block;
  content: "";
  height: 1px;
  margin-top: 2.5rem;
  background-color: hsl(233deg, 8%, 79%);
}

.secondary-article {
  display: grid;
  gap: 2rem;
  grid-template-columns: 0.5fr 1fr;
}
.secondary-article__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.secondary-article__content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  padding-block: 0.5em;
}
.secondary-article__title {
  font-weight: 800;
  font-size: 1.4rem;
}
.secondary-article__title a {
  text-decoration: none;
  color: hsl(240deg, 100%, 5%);
}
.secondary-article__title a:hover {
  color: hsl(5deg, 85%, 63%);
}
.secondary-article__counter::before {
  font-weight: 700;
  font-size: 2.5rem;
  color: hsl(233deg, 8%, 79%);
  counter-increment: articles;
  content: "0" counter(articles);
}/*# sourceMappingURL=styles.css.map */